@font-face{
    font-family: Dancing Script Bold;
    src: url('Fonts/DancingScript-Bold.ttf');
}

@font-face{
    font-family: Menu Font;
    src: url('Fonts/Raleway-Medium.ttf');
}

@font-face{
    font-family: Montserrat Bold;
    src: url('Fonts/Montserrat-Bold.ttf');
}

@font-face{
    font-family: Montserrat Medium;
    src: url('Fonts/Montserrat-Medium.ttf');
}


@font-face{
    font-family: Montserrat SemiBold;
    src: url('Fonts/Montserrat-SemiBold.ttf');
}

@font-face{
    font-family: Montserrat Thin;
    src: url('Fonts/Montserrat-Thin.ttf');
}
@font-face{
    font-family: Montserrat Light;
    src: url('Fonts/Montserrat-Light.ttf');
}

@font-face{
    font-family: Roboto Light;
    src: url('Fonts/Roboto-Light.ttf');
}

@font-face{
    font-family: Poppins SemiBold;
    src: url('Fonts/Poppins-SemiBold.ttf');
}

@font-face{
    font-family: Poppins Light;
    src: url('Fonts/Poppins-Light.ttf');
}

@font-face{
    font-family: Poppins Regular;
    src: url('Fonts/Poppins-Regular.ttf');
}