/*This file works as a genric library for all the normal css codes we write
  for building any web application.
  It simply it works as the bootstrap.
*/

@import url('./scrolls.css');
@import url('./fonts.css');
@import url('./responsiveStyle.css');

.toogler{
    opacity: 0;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.centered{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: Montserrat Bold;
}

.page{
    width: 90%;
    margin: auto;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.h1{
    font-size: 2rem;
    font-family: Poppins Regular;
}

.h2{
    font-size: 1.2rem;
    font-family: Poppins Regular;
    font-weight: 590;
}

.h3{
    font-size: 1.2rem;
    font-family: Poppins Regular;
    font-weight: 600;
}

.h4{
    font-size: 1.5rem;
    font-family: Poppins SemiBold;
    font-weight: 590;
}


.h5{
    font-size: 1.2rem;
    font-family: Poppins Light;
}

.badge{
    background: #ccc;
    color: #000;
    padding: 0.5rem 0.5rem;
    font-size: 90%;
    font-family: Poppins Regular;
    box-shadow: 0 0 1px #000;
}

form{
    width: 88%;
}



.form-group{
    margin-top: 1rem;
    position: relative;
}

.form-group.inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-group.checkbox{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-group label{
    cursor: pointer;
    font-size: 1.3rem;
    font-family: Poppins Regular;
    font-weight: 550;
}

.form-group .form-control{
    outline: none;
    border: 1.5px solid #bbb;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    width: 100%;
    font-family: Poppins SemiBold;
    font-size: 1rem;
}

.form-group .form-control:focus{
    border: 1.5px solid #00a3ff;
}

.form-group.checkbox label{
    cursor: pointer;
}

.form-group.checkbox:hover input[type="checkbox"]{
    background: #a5a5a5;
}

.form-group.checkbox:hover input[type="checkbox"]:checked{
    background: #09aaaa;
}


.form-group.checkbox input[type="checkbox"]{
    min-width: 33px;
    min-height: 33px;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
    background: #d5d5d5;
    border-radius: 5px;
}

.form-group.checkbox input[type="checkbox"]:checked{
    background: #09aaaa;
}

.form-group.checkbox input[type="checkbox"]::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10px;
    height: 20px;
    margin-top: 2px;
    margin-left: 10px;
    opacity: 0;
    transform: rotate(40deg);
    border: 2.5px solid #fff;
    border-top: none;
    border-left: none;
}

.form-group.checkbox input[type="checkbox"]:checked::after{
    opacity: 1;
}

.btn{
    padding: 1rem;
    margin-top: 2rem;
    font-family: Poppins SemiBold;
    font-size: 1.3rem;
    outline: none;
    border: none;
    background: #ccc;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.btnGreen{
    background: #01aa02;
    color: #fff;
}

.btnGreen:hover{
    background: #01aa22;
    box-shadow: 0 0 20px #01aa15;
}

.btnright{
    margin-left: 80%;
}

.smallLink{
    font-size: 1.23rem;
    font-family: Poppins Regular;
    font-weight: 600;
    color: #0053ff;
    text-decoration: none;
}

.smallLink:hover{
    border-bottom: 2px solid #0053ff;
}

::selection{
    background: #eee;
    color: #0053ff;
}

.countryCode{
    width: 30%!important;
    z-index: 2!important;
}

.phoneNumber{
    z-index: 1!important;
    width: 70%!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
    margin-left: -0.2rem;
}

.loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -50%;
    display: flex;
    justify-content: center;
    transform: translateX(50%);
    align-items: center;
    flex-direction: column;
    z-index: 99999999999999999999;
    background: rgba(0, 0, 0, 0.85);
}

.loader div{
    width: 5rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    height: 5rem;
    border: 0.2rem solid #ccc;
    border-top-color: #4F5EFE;
    animation: spin 3s ease infinite;
}

.loader h1{
    font-family: Roboto Medium;
    color: #fff;
    line-height: 30px;
    font-size: 2.5rem;
    animation: space 1s ease infinite alternate;
}

@keyframes space {
    100%{
        letter-spacing: 0.5rem;
    }
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

.message{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0rem;
    z-index: 999999999999999999999999;
    background: #ddd;
    color: #000;
    backdrop-filter: blur(2px);
    position: sticky;
    top: 10vh;
    left: 0;
    animation: inAndExit 5s linear;
    transform: translateY(-300%);
    opacity: 0;
}

.messageSuccess{
    background: #11bb22dd;
    color: #fff;
}

.messageError{
    background: #dd0000dd;
    color: #fff;
}

@keyframes inAndExit{
    0%{
        transform: translateY(-300%);
        opacity: 0;
    }
    5%{
        transform: translateY(0%);
        opacity: 1;
    }
    70%{
        transform: translateY(0%);
        opacity: 1;
    }
    100%{
        transform: translateY(-300%);
        opacity: 0;
    }
}


.form-builder{
    width: 40%;
    position: relative!important;
}

.form-preview{
    width: 40%;
    position: relative!important;
}
.createNew{
    margin-top: 2rem;
    font-size: 1.25rem;
    background: rgb(172, 252, 51);
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 2px #111;
    font-family: Montserrat Bold;
    cursor: pointer;
    border:none;
    position: absolute;
    bottom: -20vh;
    right: 0;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
.createNew:hover{
    background: rgb(172, 252, 10);
}

.form-builder .btnGreen{
    position: absolute;
    bottom: -33vh;
}

.createNew span{
    font-weight: 300;
    display: block;
    font-size: 2rem;
    width: 2.3rem!important;
    height: 2.3rem!important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    border-radius: 50%;
    background: rgb(255, 255, 255, 0.3);
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.text-center{
    text-align: center;
}

.p-absolute{
    position: absolute;
    margin-top: 6vh;
    margin-left: 0.5rem;
}

.bg-lightGrey{
    background: #eee;
}

.shadowNeumorphism{
    box-shadow: -5px -5px 10px 0.2px #ddd,
                5px 5px 10px 0.2px #000;
}

.p-1{
    padding: 1rem;
}

.weightNormal{
    font-weight: 590;
}

.androidPreview{
    width: 280px;
    height: 540px;
    position: relative;
    border-radius: 20px;
    box-shadow: -5px -5px 10px 0.2px #ddd,
                5px 5px 10px 0.2px #000;
    padding-top: 70px;
}

.androidPreview::before{
    content: "";
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
}

.androidPreview::after{
    content: "";
    background: #121212;
    position: absolute;
    top: 25px;
    left: 70%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.androidPreview .centerHole{
    width: 90px;
    height: 10px;
    background: #222;
    position: absolute;
    top: 25px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    left: 50%;
    box-shadow: inset -5px -5px 10px 0.2px #111,
                inset 5px 5px 10px 0.2px #000;
    z-index: 3;
}
.androidPreview .leftHole{
    width: 13px;
    height: 13px;
    background: #222;
    position: absolute;
    top: 25px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    left: 25%;
    box-shadow: inset -5px -5px 10px 0.2px #111,
                inset 5px 5px 10px 0.2px #000;
    z-index: 3;
}

.androidContent{
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    height: calc(100% - 70px);
    overflow-y: auto;
    word-break: break-word;
}

.tooltip{
    width: 79%;
    height: 110px;
    background: #ffffff99;
    z-index: 99999999999999999;
    font-size: 1rem;
    box-shadow: -5px -5px 10px 0.2px #ccc,
                5px 5px 10px 0.2px #000;
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 3rem;
    right: -40%;
    backdrop-filter: blur(6.5px);
    transition: 0.5s linear all;
}

.tooltipHeader{
    font-size: 2rem;
    font-family: Montserrat Bold;
    background: rgb(205, 229, 133);
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.tooltipText{
    font-size: 1rem; 
    font-weight: 590;
    font-family: Montserrat Regular;
    color: #000;
    padding: 1rem;
    margin: 0;
}

.text-red{
    color: #f00;
    text-shadow: 0 0 20px #000;
}

.text-green{
    color: #0013aa;
    font-size: 1.1rem;
    transition: 0.5s linear all;
    font-weight: 590;
    position: absolute;
    right: -20%;
}

/*.text-green:hover{
    border-bottom: 2px solid #0013aa; 
}*/

.text-green:hover ~ .tooltip{
    opacity: 1!important;
    transition: 0.5s linear all;
    z-index: 9;
}

.badge{
    background: #ccc;
    color: #000;
    padding: 0.5rem 0.5rem;
    font-size: 90%;
    font-family: Poppins Regular;
    box-shadow: 0 0 1px #000;
    border-radius: 5px;
}

.badge-blue{
    background: #0053ff;
    color: #fff;
}

.main-form-builder{
    margin-top: 3rem;
    border: 1px dashed #ccc;
    padding: 0.5rem 1rem 2rem 1rem;
    position: relative;
}

.optionContainer{
    margin-top: 0.5rem;
    border: 1px dashed #ccc;
    padding: 0.5rem 1rem 2rem 1rem;
    position: relative;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    color: #f00;
    background: transparent;
    font-size: 1.3rem;
    font-family: Montserrat Bold;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-weight: 300;
    cursor: pointer;
}

.materiallize.form-group label{
    top: 50%;
    transform: translateY(-30%);
    left: 0.5rem;
    z-index: -1;
    color: #444;
    position: absolute;
}

.materiallize.form-group .form-control{
    border: none!important;
    border-bottom: 1px solid #aaa!important;
    border-radius: 0px;
    background: transparent;
}

.materiallize.form-group .form-control:focus ~ label, .materiallize.form-group .form-control:valid ~ label{
    color: #00aa13!important;
    transform: translateY(-110%) translateX(-10%) scale(0.8);
}

.materiallize.form-group .form-control:focus, .materiallize.form-group .form-control:valid{
    border-bottom-color: #00aa13!important;
}

.w-50{
    width: 50%!important;
}

.w-45{
    width: 45%!important;
}

.pb-30{
    padding-bottom: 30vh!important;
}

.w-auto{
    width: auto!important;
}

.br-0{
    border-radius: 0!important;
}

.table{
    padding: 0!important;
    margin: 0!important;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-radius: 5px;
}

.table tr{
    margin: 0;
    padding: 0.5rem 1rem;
}

.table tr td{
    margin: 0;
    padding: 0.5rem 1rem;
    border-right: 1px solid #aaa;
    font-family: Poppins SemiBold;
}

.list{
    border: 1px dashed #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    min-width: 50%;
    max-width: 80%;
    margin-top: 1rem;
    color: #000;
    text-decoration: none;
}

.list *{
    text-decoration: none;
    color: #000;
}

.list .btn{
    margin-top: 0rem;
}

.list h3{
    font-size: 1.8rem;
    font-family: Poppins SemiBold;
}

.btnBlue{
    background: #0053ff;
    color: #fff;
}

.btnBlue:hover{
    background: #0073ff;
}

.textBlue{
    color: #0053ff;
}

.py-0{
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
}
.py-0-5{
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}

.androidPreview .btnright{
    margin-left: 0!important;
}

.c-pointer{
    cursor: pointer;
}

.vertically-center-flex{
    display: flex;
    align-items: center;
}

.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000099;
    z-index: 9;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
}

.modal{
    background: #fff;
    border-radius: 5px;
    position: relative;
    min-width: 40%;
    max-width: 50%;
    padding: 0.5rem 1rem 20vh 1rem;
}

.modal-title{
    font-family: Poppins SemiBold;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
}

.modal-footer{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: center;
}

.btnRed{
    background: #d00;
    color: #fff;
}

.btnRed:hover{
    box-shadow: 0 0 20px #d00;
}

.logo{
    height: 10vh;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    font-family: Montserrat Bold;
    color: #0053ff;
}

.alert{
    padding: 0.2rem 1rem;
    border-radius: 10px;
}

.alertRed{
    background: #990000dd;
    color: #fff;
}