@media(max-width: 745px){
    .h1{
        font-size: 1.5rem!important;
    }
}

@media(max-width: 1024px){
    .btnright{
        margin-left: 0%!important;
    }
    .loader h1{
        font-size: 1.6rem!important;
        padding: 0.5rem;
    }
    .loader#redirectLoader h1{
        animation: none!important;
    }
    .message{
        line-height: 30px;
    }
    .d-flex{
        flex-direction: column;
    }
    .form-builder{
        width: 100%!important;
    }
    .form-preview{
        width: 100%!important;
        margin-top: 35vh!important;
    }
    .tooltip{
        right: 0!important;
    }
    .text-green{
        right: 0!important;
    }
    .listForms{
        flex-direction: column;
        justify-content: flex-start!important;
        align-items: flex-start!important;
        width: 100%!important;
    }
    .modal{
        max-width: 100%!important;
    }
}

@media(max-width: 480px){
    .createNew{
        font-size: 1rem!important;
    }
    .createNew span{
        padding: 0.5rem 1rem!important;
        font-size: 1.2rem!important;
    }
    .form-control.w-50{
        width: 100%!important;
    }
    .materiallize.form-group label{
        font-size: 1rem!important;
    }
    .text-green{
        top: -25%;
    }
}

@media(max-width: 368px){
    .modal-title{
        font-size: 1rem!important;
    }
}